<section class="digital_section">
	<div class="digital_container ">
			<div class="digital_headline container">
				<h1>Make Digital</h1>
				<h1>Real</h1>
			</div>
			<nav class="digital_items">
				<div class="digital_item">
					<h2>TECHNOLOGY</h2>
					<p>Technology for Marketing and Engagement, to develop integrated projects on digital touchpoints with the user.</p>
				</div>
				<div class="digital_item">
					<h2>MARKETING</h2>
					<p>We develop engagement strategies and manage content, user relationships, and media campaigns on digital platforms.</p>
				</div>
				<div class="digital_item">
					<h2>INSIGHT</h2>
					<p>We generate information through data: we analyze online interactions and develop useful reports for Marketing and Legal departments.</p>
				</div>
				<div class="digital_item">
					<h2>INNOVATION</h2>
					<p>Lateral thinking and researching established and emerging technologies create the basis for cultivating innovation.</p>
				</div>
			</nav>
	</div>
</section>