<section class="hero_section">
	<div class="hero_container container">
		<h1>AGENCY</h1>
		<img src="../img/pngkey.com-colour-smoke-png-323818.png" alt="" class="cloud_img">
		<div class="hero_info">
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
			<div class="hero_links">
				<a href="#" class="hero_started">Get started</a>
				<a href="#" class="hero_work">See our works</a>
			</div>
		</div>
	</div>
</section>