<section class="work_section">
	<div class="work_container container">
		<h1 class="work_headline">WORKS</h1>
		<div class="work_paragraph">
			<p>Constantly on the move between new technologies and art direction, content creation and graphic design, corporate identity and personal projects, 150UP aims to interpret the desire of the clients and engage the audience – while moving from ideas to facts.</p>
		</div>
		<div class="work_imgs">
			<img src="../img/lights.jpg" alt="">
		</div>
		<div class="work_imgs">
			<img src="../img/business.jpg" alt="">
			<div class="work_img-info">
				<h3>Arts & Creativity</h3>
				<h2>DIGITAL PRESENCE</h2>
				<h2>MAPPING</h2>
			</div>
		</div>
		<!-- <div class="works">
			<h2>WORKS</h2>
		</div> -->
	</div>
</section>